1proyectoFinal2022.pdf
2proyectoFinal2022.pdf
Consultas/
trabajosTato/
Teoricos/
Laboratorio/Seteo.de.Linux.y.GCC/
Actividades/aaTPFinal/listortis/Entregado/

# No ignoré todos los pdf por si los necesito en otra compu heheee!
